.navBar {
    margin-bottom: 35px;
    padding-bottom: 5px;
    min-height: 5vh;
    /* 10% of view height */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(113, 209, 34, 0.9);
    box-shadow: 2px 2px 15px rgba(113, 209, 34, 0.9);
    background: rgb(245, 245, 245);
}

.logo {
    padding: 10px;
    align-self: center;
    align-items: center;
    color: rgba(209, 130, 34, 1);
}

.logo i {
    padding: 5px;
}

.logo span {
    padding-left: 5px;
    text-shadow: -5px 5px 10px;
}

.navbar i {
    color: rgba(113, 209, 34, 0.7);
    
}

.navBar .logo {
    display: flex;
}

.navBar ul {
    align-items: center;
    list-style: none;
    display: flex;
}

.navBar .menu a {
    margin-right: 5ch;
    text-decoration: none;
    color: rgba(34, 113, 209, 0.7);
}

.navBar .menu a:visited {
    color: rgba(113, 209, 34, 1)
}

.navBar .menu a:active {
    color: rgba(209, 130, 34, 1);
}


.navBar .menu a:hover {
    color: rgba(209, 130, 34, 1)
}

.menu {
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    box-sizing: border-box;
}