.navBar {
    margin-bottom: 35px;
    padding-bottom: 5px;
    min-height: 5vh;
    display: flex;
    border-bottom: 1px solid rgba(113, 209, 34, 0.9);
    box-shadow: 2px 2px 15px rgba(113, 209, 34, 0.9);
    background: rgb(245, 245, 245);
}

.logo {
    padding: 10px;
    align-self: center;
    align-items: center;
    color: rgba(209, 130, 34, 1);
}

.logo i {
    padding: 5px;
}

.logo span {
    padding-left: 5px;
    text-shadow: -5px 5px 10px;
}

.navbar i {
    color: rgba(113, 209, 34, 0.7);
    
}

.navBar .logo {
    display: flex;
}

.navBar ul {
    padding: 10px;
    list-style: none; 
    display: flex; 
    flex-wrap: wrap;
}

.navBar ul a {
    padding-left: 10px;
}

.navBar .menu a {
    margin-right: 5ch;
}

.navBar .menu a , .backArrow{
    text-decoration: none;
    color: rgba(34, 113, 209, 0.7);
}

.navBar .menu a:visited, .backArrow:visited {
    color: rgba(113, 209, 34, 1)
}

.navBar .menu a:active, .backArrow:active {
    color: rgba(209, 130, 34, 1);
}


.navBar .menu a:hover, .backArrow:hover {
    color: rgba(209, 130, 34, 1)
}


