.navBar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(113, 209, 34, 0.9);
    box-shadow: 2px 2px 15px rgba(113, 209, 34, 0.9);
    background: rgb(245, 245, 245);
}

.navBar .logo {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(209, 130, 34, 1);
}

.navBar .menu {
    margin-right: 20px;
}

.backgroundNav {
    position: absolute;
    top: 16px;
    right: 28vh;
    font-size: 17px;
    cursor: pointer;
    opacity: 0;
}

.navBar .menu .layerContainer {
    display: inline-block;
    margin: 0 5px;
}

.navBar .menu .layerContainer a {
    color: rgba(34, 113, 209, 0.7);
    font-size: 17px;
    text-transform: uppercase;
}

.navBar .checkBtn {
    font-size: 30px;
    background: rgb(245, 245, 245);
    color: rgba(34, 113, 209, 0.7);
    margin: 20px;
    border: none;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (min-width: 441px) {
    .navBar .menu li:hover+.backgroundNav,
    .backgroundNav:hover {
        color: rgba(34, 113, 209, 0.7);
        opacity: 1;
        font-size: 40px;
        transition: 4s;
    }

}

@media (max-width: 440px) {
    .navBar .checkBtn {
        display: block;
    }

    .navBar .menu {
        position: fixed;
        width: 20%;
        min-width: 150px;
        height: 100vh;
        margin-right: 0;
        background: rgba(245, 245, 245, 0.85);
        top: 62px;
        right: -100%;
        text-align: left;
        transition: all 0.5s ease;
    }

    .navBar .menu .layerContainer {
        display: block;
        margin-bottom: 10px;
    }

    /* make the color a bit stronger since the background is a bit transparent*/
    .navBar .menu li a {
        color: rgba(34, 113, 209, 1);
    }
}

.navBar .checkBtn:active {
    color: rgba(209, 130, 34, 1);
}

.backArrowContainer {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    height: 60px;
    width: 50px;
}

.backArrow,
.home {
    color: rgba(34, 113, 209, 0.7);
}

.backArrow:hover,
.backArrow:active {
    color: rgba(209, 130, 34, 1);
    transition-duration: 1s;
}

@keyframes skeHome {
    0% {
        transform: skewY(0deg) scaleY(100%);
        color: rgba(34, 113, 209, 0.7);
    }

    25% {
        transform: skewY(20deg) scaleY(0%);
        opacity: 0.3;
    }

    50% {
        transform: skewY(0deg) scaleY(100%);
        color: rgba(34, 113, 209, 0.7)
    }

    75% {
        transform: skewY(-20deg) scaleY(0%);
        opacity: 0.3;
    }
}

.backArrow:hover+.home {
    color: rgba(209, 130, 34, 1);
    transition-duration: 1s;
    animation-name: skeHome;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-timing-function: linear;

}