@import "/navStyles.css";
@import "flipCard.css";
@import "/hitTheBoxesGame/hitTheBoxesGame.css";


* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    background: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: 5px;
    overflow-x: hidden;
    max-width: 100%;
}

.mainHeader {
    background: linear-gradient(90deg,  rgb(245, 245, 245),rgba(209, 130, 34, 1) 70%, rgb(245, 245, 245));
    box-shadow: -10px 10px 20px rgba(209, 130, 34, 0.6);
    margin: 0;
    padding: 10px;
}

.intro {
    padding-bottom: 10px;
}
.firstPartIntro {
    text-shadow: -5px 5px  10px;
    margin: 15px;
    text-align: center;
}

.secondPartInro {
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.oddSection {
    background: linear-gradient(rgba(34, 113, 209, 0.7), rgba(209, 130, 34, 1),rgba(113, 209, 34, 0.7));
    box-shadow: -10px 10px 20px rgba(209, 130, 34, 0.6);
    color: rgb(245, 245, 245);
}

.evenSection
 {
    background: linear-gradient(rgba(113, 209, 34, 0.7), rgba(209, 130, 34, 1), rgba(34, 113, 209, 0.7));
    box-shadow: -10px 10px 20px rgba(209, 130, 34, 0.6);
    color: rgb(245, 245, 245);
}

.midSection {
    background: linear-gradient(rgba(113, 209, 34, 0.7), rgba(209, 130, 34, 1), rgba(113, 209, 34, 0.7));
    box-shadow: -10px 10px 20px rgba(209, 130, 34, 0.6);
    color: rgb(245, 245, 245);
}

.evenSection, .oddSection, .midSection {   
    margin: 10px auto;
    padding: 20px;
}

.evenSection:hover, .oddSection:hover, .midSection:hover{
    box-shadow: 0 0 0 ;
    color: black;
    border: 3px solid rgba(255, 255, 255, 0.7)
 }

 .formUserName {
    margin: 10px;
 }
 
.fieldsetRadioExpLevel {
    display: inline-block;
}

.boxOfTextContent {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.removeLinkDefaultStyle {
    text-decoration: none;
}