body {
    background: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
    /* background: rgba(113, 209, 34, 0.1); */
}

.container {
    text-align: center;
    margin: 5px;
}

.mainHeader {
    background: linear-gradient(90deg,  rgb(245, 245, 245),rgba(209, 130, 34, 1) 70%, rgb(245, 245, 245));
    box-shadow: -10px 10px 20px rgba(209, 130, 34, 0.6);
    margin: 0;
    padding: 10px;
}

.intro {

}

.firstPartIntro {
    padding: 15px;
    text-shadow: -5px 5px  10px;
}

.secondPartInro {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}
.oddSection {
    background: linear-gradient(rgba(34, 113, 209, 0.7), rgba(209, 130, 34, 1),rgba(113, 209, 34, 0.7));
    box-shadow: -10px 10px 20px rgba(209, 130, 34, 0.6);
    color: rgb(245, 245, 245);
}

.evenSection
 {
    background: linear-gradient(rgba(113, 209, 34, 0.7), rgba(209, 130, 34, 1), rgba(34, 113, 209, 0.7));
    box-shadow: -10px 10px 20px rgba(209, 130, 34, 0.6);
    color: rgb(245, 245, 245);
}

.evenSection, .oddSection {   
    margin: 10px;
    padding: 20px;
}

.evenSection:hover, .oddSection:hover{
    box-shadow: 0 0 0 ;
    color: black;
    border: 3px solid rgba(255, 255, 255, 0.7)
 }
 
 .formUserName {
    margin: 10px;
 }
.fieldsetRadioExpLevel {
    display: inline-block;
}

.boxOfTextContent {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

